<div class="padre">
<div *ngIf="libros.length===0">
    <h1>Base de datos vacia</h1>
</div>
<form>
<input name="buscador" placeholder="Introduzca ID libro" #busca>
<button type="button" (click)="buscarfuncion(busca.value)" >Buscar</button>
</form>
<div class="libros">
  
    <ng-container  *ngFor="let libro of libros;let par=even">
    <app-card [exlibros]="libro"[mostrar]="mostrar" [par]="par"[buscar]="busca.value"(borrarlibro)="eliminarlibro($event)"></app-card>
</ng-container>
  
  </div>


</div>
