.cabecera{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    background-color: aqua;
    

}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style:none;
}
h1{
    color:var(--colortexto);
    font-family: var(--estilotexto);
}