<div class="cabecera">
<ul class="menu">
  <li class="texto">
    <h1>MY BOOKS</h1> 
  </li>
    <li class="enlace1">
      <a  routerLink="">HOME</a>
    </li>
    <li class="enlace3">
      <a  routerLink="/profile">PROFILE</a>
    </li>
    
    <li class="enlace2">
      <a routerLink="/registro" class="nav-link" >REGISTER</a>
    </li>
    <li class="enlace2">
      <a routerLink="/add" class="nav-link" >AddBooks</a>
    </li>
    <li class="enlace2">
      <a routerLink="/update" class="nav-link" >UpdateBooks</a>
    </li>
    <li class="enlace2">
      <a routerLink="/libro" class="nav-link" >BOOKS</a>
    </li>
    <li class="enlace2">
      <a routerLink="/login" class="nav-link" >Login</a>
    </li>
    
    
  </ul>
</div>