footer{
    height: 10vh;
    background-color: rgb(165, 207, 207);
}
.foo{
    
   
    display: flex;
    justify-content: space-around;
}
#imagen1{
    width: 5%;
    height:5%;
}
#imagen2{
    width: 4%;
    height:4%;
}